#newBookLabel {
    font-size: xx-large;
    color: teal;
}

header {
    background-color: whitesmoke;
    height: 5vh;
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 4vh;
    box-shadow: 0 0 8px 0 teal;
    color: teal;
}

body {
    background-color: rgb(88, 88, 88);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(14, 14, 14);
}
#cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 1.6;
    margin-top: 15px;
    font-weight: 800;
}
.card {
    /* add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 teal;
    transition: 0.3s;
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 8px;
    word-wrap: break-word;
    /* color: teal; */
}

.cardWidth {
    min-width: 235px;
    max-width: 23vw;
    flex: 1;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 teal;
    background-color: rgb(227, 255, 249);
}

.bookInfoContainer {
    padding: 50px 16px;
    padding-bottom: 25px;
    /* This was needed for the formatting to work correctly for text wrap \r\n */
    white-space: pre-line;
}

#newBook:hover {
    background-color: rgb(1, 68, 155);
    color: white;
}

.center {
    text-align: center;
}

.buttonRemoveBook {
    margin-bottom: 15px;
}

#newBookForm {
    /*visibility: hidden;*/
    display: none;
    position: fixed;
    top: 10%;
    right: 37%;
    /* z-index: 10; */
    background-color: rgb(88, 88, 88);
    min-width: 250px;
    width: 25%;
    text-align: center;
    margin-top: 10%;
    padding: 25px 0 25px 0;

}

.addBookButton {
    margin-top: 25px;
}

button, .addBookButton {
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    background-color: white;
    border: 1px solid black;
}

button:hover, .addBookButton:hover {
    background-color: teal;
    color: white;
}

input {
    margin: 12px;
    text-align: center;
    height: 35px;
    font-weight: 700;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

label {
    font-weight: 700;
}

.buttonRemoveBook:hover {
    background-color: tomato;
}

#newBook {
    margin: auto;
    margin-top: 15px;
    border-radius: 12px;
    padding: 10px;
    font-weight: 600;
    width: 25vw;
}

#copyRight {
    font-weight: 400;
    margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.strokeEffect {
    -webkit-text-stroke: 2px black;
}

.readBook {
    background-color: rgba(0, 255, 255, 0.5);
}

input:invalid {
    border: 1px dotted red;
    /* background-image: linear-gradient(to right, white, pink); */
}

input:invalid:focus {
    border: 2px solid red;
    background-color: white;
    background-image: none;
}

input:valid {
    background-image: none;
    background-color: teal;
    color: white;
}